<div class="app flex flex-col items-center text-center"
  style="{% if include.col %}grid-column:{{ include.col }};{% endif %}
    {% if include.row %}grid-row:{{ include.row }};{% endif %}">

  {% if include.action contains "link" %}
    {% assign url = include.action | replace: "link[", "" | replace: "]", "" %}
    <a href="{{ url }}" target="_blank">
      {% include app-base.html iclass=include.iclass name=include.name description=include.description %}
    </a>

  {% elsif include.action contains "open" %}
    {% assign typeWithId = include.action | replace: "open[", "" | replace: "]", "" %}
    {% assign type = typeWithId | replace_regex: "\(\d+\)", "" %}
    {% assign windowId = typeWithId | replace_regex: ".+\(", "" | replace: ")", "" %}

    <button id="open-btn{{ windowId }}">
      {% include app-base.html iclass=include.iclass name=include.name description=include.description %}
    </button>
    {% include window.html id=windowId iclass=include.iclass name=include.name type=type data=include.data
      contentClass=include.contentClass open=include.windowopen %}

  {% elsif include.action contains "replace" %}
    {% assign typeWithIds = include.action | replace: "replace[", "" | replace: "]", "" %}
    {% assign type = typeWithIds | replace_regex: "\(.+\)", "" %}
    {% assign windowId = typeWithIds | replace_regex: ".+\(", "" | replace_regex: ",.+\)", "" %}
    {% assign replacementId = typeWithIds | replace_regex: ".+\,", "" | replace: ")", "" %}
    
    <button class="replace-btn" data-window-id="{{ windowId }}" data-replacement-id="{{ replacementId }}">
      {% include app-base.html iclass=include.iclass name=include.name description=include.description %}
    </button>
    {% include window-replacement.html id=replacementId iclass=include.iclass name=include.name type=type data=include.data
      contentClass=include.contentClass open=include.windowopen %}

  {% else %}
    {% include app-base.html iclass=include.iclass name=include.name description=include.description %}
  {% endif %}
</div>