<div class="app flex flex-col items-center text-center"
  style="{% if include.col %}grid-column:{{ include.col }};{% endif %}
    {% if include.row %}grid-row:{{ include.row }};{% endif %}">

  {% if include.action contains "link" %}
  {% assign url = include.action | replace: "link[", "" | replace: "]", "" %}
  <a href="{{ url }}" target="_blank">
    {% include app-base.html iclass=include.iclass name=include.name %}
  </a>

  {% elsif include.action contains "open" %}
  {% assign windowId = include.action | replace: "open[", "" | replace: "]", "" %}
  <button id="open-btn{{ windowId }}">
    {% include app-base.html iclass=include.iclass name=include.name %}
  </button>
  {% include window.html id=windowId name=include.name items=include.items %}

  {% else %}
    {% include app-base.html iclass=include.iclass name=include.name %}
  {% endif %}
</div>