<div id="rotate-device-overlay" class="landscape:hidden flex flex-col justify-evenly items-center w-full h-full absolute z-30 bg-black/50">
  <p class="text-3xl sm:text-5xl text-white">Please rotate your device</p>
  <picture>
    <source media="(max-width:639px)" srcset="/assets/icons/rotate-device-256.png">
    <img src="/assets/icons/rotate-device-512.png" alt="Illustration of a mobile phone rotating from portrait to landscape mode">
  </picture>
  <button id="remove-overlay" class="text-lg sm:text-2xl text-white underline">I don't want to</button>
</div>