{% if include.id %}
<dialog id="window{{ include.id }}" class="w-[300px] h-[250px] shadow-lg z-10">
  <div id="topbar{{ include.id }}" class="flex justify-between px-1 pb-0.5 select-none border-b border-gray-300">
    <div id="topbar__info{{ include.id }}">
      <i id="topbar__info-icon{{ include.id }}" class="fa-solid fa-folder px-1">
      </i><span id="topbar__info-name{{ include.id }}">{{ include.name }}</span>
    </div>
    <div id="topbar__actions{{ include.id }}">
      <i id="topbar__actions-minimize{{ include.id }}" class="fa-solid fa-minus px-1"></i>
      <i id="topbar__actions-maximize{{ include.id }}" class="fa-solid fa-square px-1"></i>
      <i id="topbar__actions-close{{ include.id }}" class="fa-solid fa-close px-1"></i>
    </div>
  </div>

  <div class="window__content flex p-3 gap-4">
    {% for item in include.items %}
      {% include app.html iclass=item.icon_class name=item.name %}
    {% endfor %}
  </div>
</dialog>

<script>setupWindow({{ include.id }})</script>
{% endif %}