{% assign topbar_name = include.name %}

{% case type %}
  {% when "explorer" %}
    {% assign topbar_icon = "fa-solid fa-folder" %}
  {% when "photos" %}
    {% assign topbar_icon = "fa-solid fa-images" %}
  {% when "videos" %}
    {% assign topbar_icon = "fa-solid fa-film" %}
  {% else %}
    {% assign topbar_icon = include.iclass %}
{% endcase %}

{% if include.id %}
<dialog id="window{{ include.id }}" class="absolute w-2/5 md:w-1/3 h-60 lg:h-80 min-w-52 shadow-lg bg-cerulean-200 text-cerulean-950"
  {% if include.open %}open{% endif %}>
  <div id="topbar{{ include.id }}" class="flex justify-between px-1 pb-0.5 select-none bg-cerulean-300 font-medium">
    <div id="topbar__info{{ include.id }}">
      <i id="topbar__info-icon{{ include.id }}" class="{{ topbar_icon }} px-1">
      </i><span id="topbar__info-name{{ include.id }}" class="mr-1">{{ topbar_name }}</span>
      {% if include.type == "explorer" %}
        <i id="topbar__info-back{{ include.id }}" class="fa-solid fa-circle-arrow-left"></i>
        <i id="topbar__info-forward{{ include.id }}" class="fa-solid fa-circle-arrow-right"></i>
      {% endif %}
    </div>
    <div id="topbar__actions{{ include.id }}">
      <i id="topbar__actions-minimize{{ include.id }}" class="fa-solid fa-minus px-1"></i>
      <i id="topbar__actions-maximize{{ include.id }}" class="fa-solid fa-square px-1"></i>
      <i id="topbar__actions-close{{ include.id }}" class="fa-solid fa-close px-1"></i>
    </div>
  </div>

  {% if include.type == "explorer" %}
    {% include window_content/explorer.html data=include.data %}
  {% elsif include.type == "photos" %}
    {% include window_content/photos.html data=include.data %}
  {% elsif include.type == "videos" %}
    {% include window_content/videos.html data=include.data %}
  {% elsif include.type == "html" %}
    {% include window_content/html.html data=include.data contentClass=include.contentClass %}
  {% endif %}
</dialog>

<script>setupWindow({{ include.id }})</script>
{% endif %}