---
---

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --taskbar-height: 4rem;
  --topbar-height: 27px;
}

dialog {
  margin: 0;
  position: fixed;
}

[data-tooltip]::after {
  --scale: 0;
  content: "";
  font: initial;
  font-size: 1rem;
  position: absolute;
  left: 50%;
  top: 100%;
  translate: -50%;
  scale: var(--scale);
  min-width: fit-content;
  width: 200%;
  padding: 0.25rem;
  border-radius: 8%;
  background-color: white;
  z-index: 1;
}

[data-tooltip]:hover::after {
  --scale: 1;
  content: attr(data-tooltip);
  transition: scale 100ms 600ms;
}

[data-tooltip].wide-tooltip::after {
  width: 300%;
}

dialog:has(> div.photos), dialog:has(> div.videos) {
  width: fit-content;
  height: auto;
  max-width: 90%;
  max-height: calc(90vh - var(--taskbar-height));
}

.window__content {
  max-height: calc(90vh - var(--taskbar-height) - var(--topbar-height));
}

#menu li:last-child {
  border: 0;
}

img, video {
  object-fit: contain;
}

#window1 {
  width: 75%;
  height: 75%;
  max-width: fit-content;
}

#window1 h1 {
  align-self: center;
  padding: 0.25rem;
}

#window1 p {
  font-size: 0.75rem;
}

/* sm */
@media(min-width: 640px) {
  #window1 h1 {
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 0.5rem;
  }

  #window1 p {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

/* md */
@media(min-width: 768px) {
  #window1 h1 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    padding: 0.75rem;
  }

  #window1 p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

/* lg */
@media(min-width: 1024px) {
  #window1 h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    padding: 1rem;
  }

  #window1 p {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

/* xl */
@media(min-width: 1280px) {
  #window1 h1 {
    font-size: 3rem;
    line-height: 1;
    padding: 1.25rem;
  }

  #window1 p {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

/* 2xl */
@media(min-width: 1536px) {
  #window1 h1 {
    font-size: 3.75rem;
    line-height: 1;
    padding: 1.5rem;
  }

  #window1 p {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}