---
---

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --taskbar-height: 4rem;
  --topbar-height: 27px;
  --dialog-start-opacity: 0;
  --dialog-end-opacity: 1;
  --dialog-start-scale: 0.8;
  --dialog-end-scale: 1;
}

dialog {
  margin: 0;
  scale: var(--dialog-start-scale);
  opacity: var(--dialog-start-opacity);
  transition: display 100ms allow-discrete;
  animation: fade-out 100ms forwards;
}

dialog[open] {
  animation: fade-in 100ms forwards;
}

@keyframes fade-in {
  from {
    scale: var(--dialog-start-scale);
    opacity: var(--dialog-start-opacity);
  }
  to {
    scale: var(--dialog-end-scale);
    opacity: var(--dialog-end-opacity);
  }
}

@keyframes fade-out {
  from {
    scale: var(--dialog-end-scale);
    opacity: var(--dialog-end-opacity);
  }
  to {
    scale: var(--dialog-start-scale);
    opacity: var(--dialog-start-opacity);
  }
}

[data-tooltip]::after {
  --scale: 0;
  content: "";
  font: initial;
  font-size: 1rem;
  position: absolute;
  left: 50%;
  top: 100%;
  translate: -50%;
  scale: var(--scale);
  min-width: fit-content;
  width: 200%;
  padding: 0.25rem;
  border-radius: 8%;
  background-color: white;
  z-index: 1;
}

[data-tooltip]:hover::after {
  --scale: 1;
  content: attr(data-tooltip);
  transition: scale 100ms 600ms;
}

[data-tooltip].wide-tooltip::after {
  width: 300%;
}

dialog:has(> div.photos), dialog:has(> div.videos) {
  width: fit-content;
  height: auto;
  max-width: 90%;
  max-height: calc(90vh - var(--taskbar-height));
}

.window__content {
  max-height: calc(90vh - var(--taskbar-height) - var(--topbar-height));
}

#menu li:last-child {
  border: 0;
}

img, video {
  object-fit: contain;
}

#window1 {
  width: 75%;
  height: 75%;
  max-width: fit-content;
}

#window1[open] {
  --dialog-start-scale: 0.35;
  animation: fade-in 700ms 1s forwards;
}

#window1 h1 {
  align-self: center;
  padding: 0.25rem;
}

#window1 p {
  font-size: 0.75rem;
}

#menu {
  transition: none;
}

#menu[open] {
  animation-duration: 0s;
}

#shutdown-overlay {
  opacity: 0;
  transition: opacity 1.1s, display 1.1s allow-discrete;
}

#shutdown-overlay.open {
  opacity: 1;
}

#power-on-icon {
  text-shadow: 0px 0px 4px white;
  transition: text-shadow 100ms ease;
}

#power-on-icon:hover {
  text-shadow: 0px 0px 8px white;
}

/* sm */
@media(min-width: 640px) {
  #window1 h1 {
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 0.5rem;
  }

  #window1 p {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

/* md */
@media(min-width: 768px) {
  #window1 h1 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    padding: 0.75rem;
  }

  #window1 p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

/* lg */
@media(min-width: 1024px) {
  #window1 h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    padding: 1rem;
  }

  #window1 p {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

/* xl */
@media(min-width: 1280px) {
  #window1 h1 {
    font-size: 3rem;
    line-height: 1;
    padding: 1.25rem;
  }

  #window1 p {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

/* 2xl */
@media(min-width: 1536px) {
  #window1 h1 {
    font-size: 3.75rem;
    line-height: 1;
    padding: 1.5rem;
  }

  #window1 p {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}